{% extends "network/layout.html" %}

{% block body %}
<div class="post-form">
    <h3>Create a new post</h3>
    <form action="{% url 'posts' %}" method="post">
        {% csrf_token %}
        <textarea name="post-text" id="new-post" cols="40" rows="3"></textarea>
        <br>
        <input type="submit" id="post-submit" class="btn btn-primary">
    </form>
</div>
    {% for post in posts %}
        <div class="post">
            <span class="post-username">
                <a href="/{{ post.user.username }}">{{ post.user.username }}</a></span>
            <span class="post-content">{{ post.content }}</span>
            <span class="post-date">{{ post.date }}</span>
            <form action="{% url 'like' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="post" value="{{ post.id }}">
                <input type="submit" name="like" value="Like" class="post-likes btn btn-primary btn-sm">
            </form>
            <h6>Likes: {{ post.count_likes }}</h6>
        </div>
    {% endfor %}
{% endblock %}