{% extends "network/layout.html" %}

{% block body %}
    <div class="post-form">
        <h3>Create a new post</h3>
        <form action="{% url 'posts' %}" method="post">
            {% csrf_token %}
            <textarea name="post-text" id="new-post" cols="40" rows="3"></textarea>
            <br>
            <input type="submit" id="post-submit" class="btn btn-primary">
        </form>
    </div>
    {% for post in page_obj %}
        <div class="post">
            <span class="post-username">
                <a href="/{{ post.user.username }}">{{ post.user.username }}</a></span>
            <span class="post-content">{{ post.content }}</span>
            <span class="post-date">{{ post.date }}</span>
            <form action="{% url 'like' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="post" value="{{ post.id }}">
                <input type="submit" name="like" value="Like" class="post-likes btn btn-primary btn-sm">
            </form>
            <h6>Likes: {{ post.count_likes }}</h6>
            {% if request.user == post.user %}
            <button class="edit-likes btn btn-secondary btn-sm">Edit</button>
            {% endif %}
        </div>
    {% endfor %}
    <div class="page-number">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </div>
    <div class="pagination">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page=1" class="page-link">&laquo; first</a></li>
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">previous</a></li>
            {% endif %}



            {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">next</a></li>
                <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}