{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/script.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="post-form">
        <h5>User: {{ username }}</h5>
        <h6 id="followers">Followers: {{ followers_count }}</h6>
        <h6 id="following">Following: {{ following_count }}</h6>
        <form class="follow-update" data-username="{{ username }}">
            <input type="hidden" name="following" value="{{ username }}">
            {% if button and followed %}
                <input type="submit" name="follow" value="Unfollow" class="btn btn-outline-primary btn-sm">
            {% elif button and not followed %}
                <input type="submit" name="follow" value="Follow" class="btn btn-primary btn-sm">
            {% endif %}
            
        </form>
    </div>
    {% for post in page_obj %}
        <div class="post" id="post{{ post.id }}">
            <span class="post-username">
                <a href="/{{ post.user.username }}">{{ post.user.username }}</a></span>
            <span class="post-content">{{ post.content }}</span>
            {% if request.user == post.user %}
                <a data-id="{{ post.id }}" class="post-edit" href="#">edit</a>
            {% endif %}
            <span class="post-date">{{ post.date }}</span>
            <!-- Form to like posts -->
            {% if request.user.is_authenticated %}
                <form action="{% url 'like' %}" method="post" class="like-update" data-id="{{ post.id }}">
                    {% csrf_token %}
                    <input type="hidden" name="post" value="{{ post.id }}">
                    {% if post in like_list %}
                        <input type="submit" name="like" value="Unlike" class="post-likes btn btn-outline-primary btn-sm">
                    {% else %}
                        <input type="submit" name="like" value="Like" class="post-likes btn btn-primary btn-sm">
                    {% endif %}
                </form>
            {% endif %}
            <h6>Likes: {{ post.count_likes }}</h6>
        </div>
    {% endfor %}
    <div class="page-number">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </div>
    <div class="pagination">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page=1" class="page-link">&laquo; first</a></li>
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">previous</a></li>
            {% endif %}



            {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">next</a></li>
                <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}