{% extends "network/layout.html" %}

{% block body %}
<div class="post-form">
    <h5>User: {{ username }}</h5>
    <h6>Followers: {{ followers_count }}</h6>
    <h6>Following: {{ following_count }}</h6>
    <form action="{% url 'follow' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="following" value="{{ username }}">
        
        {% if button and followed %}
            <input type="submit" name="follow" value="Unfollow" class="btn btn-outline-primary btn-sm">
        {% elif button and not followed %}
            <input type="submit" name="follow" value="Follow" class="btn btn-primary btn-sm">
        {% endif %}
        
    </form>
</div>
    {% for post in posts %}
        <div class="post">
            <span class="post-username">
                <a href="/{{ post.user.username }}">{{ post.user.username }}</a></span>
            <span class="post-content">{{ post.content }}</span>
            <span class="post-date">{{ post.date }}</span>
            <form action="{% url 'like' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="post" value="{{ post.id }}">
                <input type="submit" name="like" value="Like" class="post-likes btn btn-primary btn-sm">
            </form>
            <h6>Likes: {{ post.count_likes }}</h6>
        </div>
    {% endfor %}
{% endblock %}