body {
	background-color: #f5f7fa;
}

textarea {
	vertical-align: top;
	margin-right: 3px;
}

.post-form {
	border-width: 1px;
	border-style: solid;
	border-color: lightgrey;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

.post {
	margin: 10px;
	border:  1px solid lightgrey;
	border-radius: 5px;
	padding: 10px;
}

.post-username {
	font-weight: bold;
}

.post-date {
	float: right;
	color: grey;
}

.post-edit {
	color: grey;
}

.pagination {
	margin: auto;
	padding: 10px;
}

.page-number {
	text-align: center;
}